@model HomeVM

<div class="container-fluid">
    <div class="video-block section-padding">
<div class="row">
@foreach (var video in Model.Videos)
{
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="video-card">
            <div class="video-card-image">
                <a class="play-icon" asp-route-id="@video.Id" asp-action="Index" asp-controller="VideoPage"><i class="fas fa-play-circle"></i></a>
                <a asp-route-id="@video.Id" asp-action="Index" asp-controller="VideoPage"><img class="img-fluid" src="@video.TumbnailUrl" alt=""></a>
                <div class="time">@video.Duration</div>
            </div>
            <div class="video-card-body">
                <div class="video-title">
                    <a href="#">@video.Title</a>
                </div>
                <div class="video-page text-success">
                    @video.Author.UserName  <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                </div>
                <div class="video-view">
                    @video.ViewCount views &nbsp;<i class="fas fa-calendar-alt"></i> @video.CreatedTime.ToString("MMM dd, yyyy")
                </div>
            </div>
        </div>
    </div>
}
</div>
</div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center pagination-sm mb-4">
            @if (Model.paginationVM.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="?page=1" tabindex="-1">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page=@(Model.paginationVM.CurrentPage - 1)">Previous</a>
                </li>
            }
            @for (int i = 1; i <= Model.paginationVM.TotalPages; i++)
            {
                <li class="page-item @(i == Model.paginationVM.CurrentPage ? "active" : "")">
                    <a class="page-link" href="?page=@i">@i</a>
                </li>
            }
            @if (Model.paginationVM.CurrentPage < Model.paginationVM.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="?page=@(Model.paginationVM.CurrentPage + 1)">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page=@Model.paginationVM.TotalPages">Last</a>
                </li>
            }
        </ul>
    </nav>
</div>